* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Colors Variables */
  --grey-500: #4D4F62;
  --grey-400: #6A7178;
  --white: #FFFFFF;
  --red: #EA5454;
  --cyan: #44D3D2;
  --blue: #549EF2;
  --orange: #FCAE4A;
  --background-color: #FAFAFA;

  /* Spacing Variables */
  --spacing-500: 2.5rem;  /* 40px */
  --spacing-400: 2rem;    /* 32px */
  --spacing-300: 1.5rem;  /* 24px */
  --spacing-200: 1rem;    /* 16px */
  --spacing-100: 0.5rem;  /* 8px */
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: var(--grey-500);
  background-color: var(--background-color);
}

/* Poppins Semibold - 36px */
.text-preset-1 {
  font-weight: 600;
  font-size: 2.25rem; /* 36px */
  line-height: 1.4;
  letter-spacing: 0.25px;
}

/* Poppins Extra Light - 36px */
.text-preset-2 {
  font-weight: 200;
  font-size: 2.25rem; /* 36px */
  line-height: 1.4;
  letter-spacing: 0.25px;
}

/* Poppins Semibold - 20px */
.text-preset-3 {
  font-weight: 600;
  font-size: 1.25rem; /* 20px */
  line-height: 1.35;
}

/* Poppins Regular - 15px */
.text-preset-4 {
  font-weight: 400;
  font-size: 0.9375rem; /* 15px */
  line-height: 1.4;
}

/* Poppins Regular - 13px */
.text-preset-5 {
  font-weight: 400;
  font-size: 0.8125rem; /* 13px */
  line-height: 1.6;
}

header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
  text-align: center;
  margin-top: 6.375rem; /* 102px */
  margin-bottom: 4.625rem; /* 74px */
}

.main-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  gap: var(--spacing-400);
  justify-content: center;
  margin-bottom: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);

  width: 21.875rem; /* 350px */
  min-height: 15.625rem; /* 250px */
  padding: var(--spacing-400);

  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15);
}

.card-title {
  margin-bottom: 0.375rem; /* 6px */
}

.card-p-color {
  color: var(--grey-400);
}

.card-image {
  width: 64px;
  height: 64px;
  align-self: flex-end;
}

.card-supervisor {
  border-top: 4px solid var(--cyan);
  grid-row: 2 / 4;
  grid-column: 1 / 2;
}

.card-team {
  border-top: 4px solid var(--red);
  grid-row: 1 / 3;
  grid-column: 2 / 3;
}

.card-karma {
  border-top: 4px solid var(--orange);
  grid-row: 3 / 5;
  grid-column: 2 / 3;
}

.card-calculator {
  border-top: 4px solid var(--blue);
  grid-row: 2 / 4;
  grid-column: 3 / 4;
}

@media (max-width: 1150px) {
  header {
    margin-top: 5rem; /* 80px */
  }

  .card {
    max-width: 19.625rem; /* 314px */
  }

  .card-supervisor {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }

  .card-team {
    grid-row: 1 / 2;
    grid-column: 2 / 4;
  }

  .card-karma {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
  }

  .card-calculator {
    grid-row: 3 / 4;
    grid-column: 2 / 4;
  }
}

@media (max-width: 675px) {
  header {
    padding: 0 1.80rem;
    margin-top: 3.5rem; /* 56px */
    margin-bottom: 3.75rem; /* 60px */
  }
  .break-line {
    display: none;
  }

  .main-container {
    margin-bottom: 3.75rem;
    padding: 0 1.80rem;
  }

  .card-supervisor {
    grid-row: auto;
    grid-column: auto;
  }

  .card-team {
    grid-row: auto;
    grid-column: auto;
  }

  .card-karma {
    grid-row: auto;
    grid-column: auto;
  }

  .card-calculator {
    grid-row: auto;
    grid-column: auto;
  }
}

@media (max-width: 350px) {
  .card {
    width: 100%;
  }
}